html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    background-color: rgb(247, 251, 253);
}

/***  HEADER  ***/
header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    align-content: center;
    padding: 20px;
}

header #logo {
    width: 72px;
}

header #profile img {
    width: 40px;
}

header h1 {
    flex: 1;
    align-self: end;
    margin-bottom: 5px;
}   

/***  ACTIONS  ***/

#actions {
    display: flex;
    justify-content: end;
    padding: 10px;
}

#actions button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-family: inherit;
}

/***  MAIN  ***/

main .message {
    text-align: center;
    color:rgb(129, 129, 129)
}